
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


.header {
    position:absolute;
    top: 0;
    height: 6vh;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #F4BC44;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
// font-family: 'Luckiest Guy', cursive;
}